.arbitrage_calculator {
    padding: 20px;
    box-shadow: 0 4px 10px rgba(127, 162, 252, 0.25);
    background: var(--color_3);
    border-radius: var(--s);
}
.input_wrapper {
    flex-grow: 1;
}
.calculate_sub_title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.action_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#result {
    font-weight: bold;
}