.footer {
    background: var(--color_7);
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer_text {
    color: var(--color_3);
    text-align: center;
    padding: 20px 0px;
}
.footer_text a {
    color: var(--color_3);
}
.footer_menu_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color_4);
}
.footer_menu_item {
    width: calc(25% - 20px);
}
.footer_menu_item_title {
    color: var(--color_3);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: underline;
}
.footer_menu_item_link {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    list-style: none;
}
.footer_menu_item_link a {
    color: var(--color_3);
    text-decoration: none;
}
.footer_feedback_item img {
    display: block;
}
.footer_feedback_wrapper {
    border-bottom: 2px solid var(--color_4);
    padding: 15px 0px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer_feedback_item a {
    color: var(--color_3);
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}
@media (min-width: 320px) and (max-width: 520px) {
    .footer_menu_item {
        width: 100%;
    }
    .footer_feedback_item {
        width: 100%;
    }
}
@media (min-width: 520px) and (max-width: 768px) {
    .footer_menu_item {
        width: calc(50% - 20px);
    }
    .footer_feedback_item {
        width: 50%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .footer_menu_item {
        width: calc(33% - 20px);
    }
    .footer_feedback_item {
        width: 33%;
    }
}